external/script/wip/*
external/script/.idea/*
chars/*
data/big/*
data/common.snd
data/fight.def
data/fight.sff
data/fight.snd
data/fightfx.air
data/fightfx.sff
data/glyphs.sff
data/kfm/*
data/mugen1/*
data/select.def
data/system.def
data/system.sff
data/system.snd
data/work/*
font/*
stages/*
sound/*
*.cmd
*.bat
*.png
*.txt
*.exe
*.command
save/*
*.log
*.dll
go/*
*.sh

# IDE Files
.vscode/*
.vs/*
.idea/*

# Binaries
bin/*

# Compilation files
src/*.syso

# Temp
src/lua_triggers.go